# While Loop

In [9]:
#while loop akan berjalan apabila nilainya true dan berhenti apabila nilainya flase
#while apabila bernilai true
a = 0
while a <= 10:
    print(a)
    a +=1
#while apabila bernila false
a = 2
while a < 2:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8
9
10

In [36]:
#menggunakan while dengan lebih dari 1 kondisi
#contoh I
x = 3
while x < 10:
    y = x**2
    #y = 3**2
    #y = 9
    x = 2*(y + x)
    #x = 3 
    #x = 2*(9 + 3)
    print (x)

#contoh II
x = 4 
while x <=10:
    x *= 7
    #x = x*7
    #x = 4*7
    #x = 28
    y = x/2
    #y = 28/2
    #y =14
    print (x)
    print (y)
    
#contoh III    
x = 4
y = 6
while x <8:
    x *= 4
    #x = x*4
    #x = 4*4
    #x = 16
    x = y + 2
    #x = 6 +2
    #x = 8
    y = x**2
    #karena x sebelumnya yang bernilai 16 tertimpa dengan x baru yang bernilai 8, maka nilai x yang digunakan adalah 8
    #jadi saat y = x**2
    #nilai x sudah berubah menjadi 8
    #y = 8**2
    #y = 64
    print (x)
    print (y)

24
28
14.0
8
64

# List di Python

In [4]:
#list digunakan untuk menampilkan objek berupa string maupun angka di pyhton
game = ['Mobile Legends Bang Bang', 'Pubg Mobile', 'Minecraft', 'Crisis Action', 'Growtopia', 'Clash of Clan', 'Clash Royale']
print (game)
#menampilkan urutan index 0
print (game[0])
#menampilkan urutan index 2
print (game[2])
#menampilkan urutan index terakhir
print (game[-1])
#menampilkan urutan index nomor 2 terakhir
print (game[-2])

['Mobile Legends Bang Bang', 'Pubg Mobile', 'Minecraft', 'Crisis Action', 'Growtopia', 'Clash of Clan', 'Clash Royale']
Mobile Legends Bang Bang
Minecraft
Clash Royale
Clash of Clan

In [8]:
#merubah list
#merubah list pada index ke 0
game [0] = 'COD Mobile'
print (game)
#merubah list pada index terakhir
game [-1] = 'Hago'
print (game)

#membuat urutan index sampai urutan index yang diinginkan
#bisa menggunakan dengan index yang dibatasi

#contoh I
#ingin membuat dari urutan 0 dengan batas urutan ke 4
print (game[0:4])

#contoh II
#ingin membuat dari urutan 2 dengan batas urutan ke 5
print (game[2:5])

['COD Mobile', 'Pubg Mobile', 'Minecraft', 'Crisis Action', 'Growtopia', 'Clash of Clan', 'Hago']
['COD Mobile', 'Pubg Mobile', 'Minecraft', 'Crisis Action', 'Growtopia', 'Clash of Clan', 'Hago']
['COD Mobile', 'Pubg Mobile', 'Minecraft', 'Crisis Action']
['Minecraft', 'Crisis Action', 'Growtopia']

In [9]:
#menggabungkan list dengan while
x = 0
while x < 7:
    print(game[x])
    x += 1
#menggunakan len dalam while
x = 0
while x < len(game):
    print(game[x])
    x += 1

COD Mobile
Pubg Mobile
Minecraft
Crisis Action
Growtopia
Clash of Clan
Hago
COD Mobile
Pubg Mobile
Minecraft
Crisis Action
Growtopia
Clash of Clan
Hago

# Metoda List

In [19]:
#metoda list dapat digunakan untuk menambahkan atau menghilangkan isi objek
nama_daerah = ['Kalianget', 'Kaliasem', 'Lovina', 'Telkom', 'Seririt']
print (nama_daerah)

#menambahkan list 
#menambahkan list pada index 0
nama_daerah.insert(0, 'Bualu')
print (nama_daerah)
#menambahkan list pada index terakhir
nama_daerah.insert(-1, 'Kutuh')
print (nama_daerah)

#menghilangkan list
#contoh I
#menghilangkan list "Telkom"
nama_daerah.remove('Telkom')
print (nama_daerah)
#contoh II
#menghilangkan list "Lovina"
nama_daerah.remove('Lovina')
print (nama_daerah)

['Kalianget', 'Kaliasem', 'Lovina', 'Telkom', 'Seririt']
['Bualu', 'Kalianget', 'Kaliasem', 'Lovina', 'Telkom', 'Seririt']
['Bualu', 'Kalianget', 'Kaliasem', 'Lovina', 'Telkom', 'Kutuh', 'Seririt']
['Bualu', 'Kalianget', 'Kaliasem', 'Lovina', 'Kutuh', 'Seririt']
['Bualu', 'Kalianget', 'Kaliasem', 'Kutuh', 'Seririt']

In [25]:
#mengecek kesesuain data
#contoh I
#mengecek nama "kalianget" pada "nama_daerah"
print ('kalianget' in nama_daerah)
#bernilai false karena "kalianget brtulis huruf kecil" seharusnya huruf besar
print ('Kalianget' in nama_daerah)

#contoh II
#mengecek nama "Kutuh" pada "nama_daerah"
print ('Kutuh' in nama_daerah)

#mengecek banyak rentangnya data
print (len(nama_daerah))

False
True
True
5

# For Loop

In [40]:
#digunakan untuk memanggil semua isi list
#contoh I
#memunculkan semua list satu persatu
Teras = ['TEKNO', 'INVISO', 'NEURO', 'KOMBAT']
for skill in Teras:
    print (skill)
#contoh II
#menggunakan len untuk menampilkan List
for skill in len(Teras):
    print (skill)
#syntax erorr

TEKNO
INVISO
NEURO
KOMBAT

TypeError: 'int' object is not iterable

In [44]:
#menampilkan spelling dari salah satu list 
#contoh I
#spelling TEKNO
x = "TEKNO"
for tekno in x:
    print (tekno)
#contoh II
#spelling INVISO
x = "INVISO"
for inviso in x:
    print (inviso)

T
E
K
N
O
I
N
V
I
S
O

# Fungsi Range

In [47]:
#fungsi range digunakan untuk bilangan berpola
#contoh I
#menampilkan angka 1 - 10
for i in range (1, 11):
    print (i)
#11 sebagai batas akhir

#contoh II 
#menampilkan angka bilangan genap
for i in range (0,11,2):
    print (i)
#artinya bilangan 0 sampai batas 11 akan ditambah 2

1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10

In [50]:
#membuat bilangan genap dengan menabahkan i += 2
for i in range (0,11):
    print (i)
    i += 2
#output yang keluar tidak merubah nilai tapi bisa running

0
1
2
3
4
5
6
7
8
9
10

In [67]:
#membuat angka dengan batas 100
#contoh
#2 akan ditambah 10 sampai batas akhir 100
for i in range (2,100,10):
    print (i)

2
12
22
32
42
52
62
72
82
92

In [72]:
#menghitung mundur bilangan
#contoh I
#dari angka 10 akan dihitung mundur sampai -1
for i in range (10,-2,-1):
    print (i)
#artinya 10 sampai dengan batas akhir -2 akan dikurangi 1

#contoh II
#dari angka 10 akan dihitung mundur sampai -1 dengan hitung mundur lompat 2
for i in range (10,-2,-2):
    print (i)
#artinya 10 sampai dengan batas akhir -2 akan dikurangi 2

10
9
8
7
6
5
4
3
2
1
0
-1
10
8
6
4
2
0